html,
:not(:root):-webkit-full-screen {
  background: var(--fill-2);
}

body {
  overflow: hidden;
}

.tyAdmin__container {
  padding: 16px !important;
  background: var(--fill-2);
}

::selection {
  color: #fff;
  background: var(--primary-6);
}

:deep(.ty-aside) {
  transition: width 5s;
}

::view-transition-old(*) {
  animation: none;
}

::view-transition-new(*) {
  animation: clip 0.5s ease-in;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}


// toyar-theme="light"
[toyar-theme="light"]::view-transition-old(*) {
  animation: clip 0.5s ease-in reverse;
}

[toyar-theme="light"]::view-transition-new(*) {
  animation: none;
}

[toyar-theme="light"]::view-transition-old(root) {
  z-index: 9999;
}

[toyar-theme="light"]::view-transition-new(root) {
  z-index: 1;
}

@keyframes clip {
  from {
    clip-path: circle(0% at var(--x) var(--y));
  }

  to {
    clip-path: circle(var(--r) at var(--x) var(--y));
  }
}

@keyframes AnimaRightToLeft {
  from {
    transform: translateX(50%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes AnimaLeftToRight {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animationBox .entry {
  animation: AnimaRightToLeft 0.5s ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.animationBox .entry-reverse {
  animation: AnimaLeftToRight 0.5s ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.animationBox {
  // 使用 @for 循环生成样式
  @for $i from 1 through 10 {
    .entry:nth-child(#{$i}) {
      // 根据元素的顺序设置不同的动画延迟
      animation-delay: $i * 0.1s;
    }

    .entry-reverse:nth-child(#{$i}) {
      // 根据元素的顺序设置不同的动画延迟
      animation-delay: $i * 0.1s;
    }
  }


}

.animationRightToLeft {
  overflow-x: hidden;
  @for $i from 1 through 10 {
    &>:nth-child(#{$i}) {
      // 根据元素的顺序设置不同的动画延迟
      animation-delay: $i * 0.1s;
      animation: AnimaRightToLeft 0.5s ease-out;
      animation-fill-mode: forwards;
      opacity: 0;
    }
  }
}

.animationLeftToRight {
  overflow-x: hidden;
  @for $i from 1 through 10 {
    &>:nth-child(#{$i}) {
      // 根据元素的顺序设置不同的动画延迟
      animation-delay: $i * 0.1s;
      animation: AnimaLeftToRight 0.5s ease-out;
      animation-fill-mode: forwards;
      opacity: 0;
    }
  }
}
.noclick{
  user-select: none;
}